body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

.form-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    font-size: 18px;
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 230px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

.card button {
    width: 45%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}
